.contact{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
    position: absolute;
    right: 10%;
}
.nocontactlist{
    width: 75vw;
    text-align: center;
}