.navbar{
    background: #f0564f;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 10rem;
    height: 100vh;
    z-index: -1;
    position: fixed;
  
}
.navbar-span{
    padding: 1rem 3rem;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}
.link{
    text-decoration: none;
    font-weight: normal;
    font-weight: 600;
    color: #fff;
}